.block {
  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    @include divider();
    position: relative;
    padding-bottom: $spacer / 2;
  }
}

.block-title {
  @include divider();
  position: relative;
  padding-bottom: $spacer / 2;
  margin-bottom: $spacer;
}

.see-related {
  @include background-two-tone-diagonal($primary);
  background-color: $primary;
  color: $light;
  padding: $spacer;
  margin-bottom: $spacer * 3;

  a {
    @include size-tap-targets();
  }
}
